%h1 Список компетенций

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Название
      %th Описание
      %th Выполнена
      %th
      %th
      %th

  %tbody
    - @competentions.each do |competention|
      %tr
        %td= competention.title
        %td= competention.description
        %td= competention.isdone
        %td= link_to 'Показать', competention
        %td= link_to 'Назад', edit_competention_path(competention)
        %td= link_to 'Удалить', competention, method: :delete, data: { confirm: 'Вы уверены?' }

%br

= link_to 'Новая компетенция', new_competention_path
