%p#notice= notice

%p
  %b Title:
  = @competention.title
%p
  %b Description:
  = @competention.description
%p
  %b Isdone:
  = @competention.isdone

= link_to 'Изменить', edit_competention_path(@competention)
\|
= link_to 'Назад', competentions_path
