%nav#top-menu
  %ul
    %li.dropdown
      %a{"data-toggle" => "dropdown", class: "dropdown-toggle", href: "#"}
        Компетенции
        %ul.dropdown-menu
          %li.dropdown-menu__item
            = link_to "Личные", ""
          %li.dropdown-menu__item
            = link_to "Профессиональные", ""
          %li.dropdown-menu__item
            = link_to "Прочие", ""
    %li
      = link_to "Знания", "#"
    %li
      = link_to "Hello", "#"